@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

body {
  font-family: "Roboto", sans-serif;
}
